
body
{
    background-color:#00376d;
}

input[type="number"] {
    width: 70px;
}

.nuevo td
{
    background-color: greenyellow;
}

.edit
{
    background-color: khaki;
}
.tabla_registros
{
    width: 100%;
}

textarea.registros
{
    width: 80%;
}

input.registros
{
    width: 90%;
}

.fecha_registros
{
    width: 150px;
}

.info_reparacion
{
    width: 80px;
}
textarea.form_expediente
{
    width: 600px;
}

.n_factura_reparacion
{
    width: 80px;
}
img.peque
{
    width: 100px;
}
.alerta
{
    background-color: red;
}