body {
  padding-top: 50px;
}
.principal {
  padding: 40px 15px;
  text-align: center;
}

.btn{
    vertical-align: bottom;
}

.alerta{
    background-color: red;
}

.notificacion{
    position: fixed;
    bottom: 10%;
    width: 80%;
    left: 10%;
}