/*Colores corporativos
Azul oscuro : #00376d
Azul claro : #00BCE2
Magenta : #FD0081, #ED2893, #F7027C
*/


li {
	list-style:none;
	color:#FFF;
	padding:10px;
	font-size:20px;
	text-decoration:none;
	}
 
nav ul {
	background-color:#00376d;
	padding:0;
	margin:0;
	}
 
nav ul li {
	list-style: none; 
	line-height:44px;
	float:left;
	background-color:#00376d;
	}
 
nav ul li a {
	color:#FFF;
	padding:10px;
	font-size:20px;
	text-decoration:none;
}
 
li a:hover {
	//border-bottom:3px #FFF solid;
        background-color:#FD0081;
	}
	
nav ul li ul { display:none; } /* Makes the Dropdown menu Hidden by default */
 
nav ul li:hover  ul  { /* Displayes the dropNav when Hovered over the nav item with the .drop class */
	z-index:99999;
	display:list-item;
	position:absolute;
	margin-top:5px;
	margin-left:-10px;
        background-color: #00BCE2;
        list-style: none; //Para que no aparezca el puntito ese
	}
 
nav ul li:hover  ul li {
	float:none;
        background-color:#00BCE2;
	}